auth/node_modules
auth/package-lock.json
container/node_modules
container/package-lock.json
dashboard/node_modules
dashboard/package-lock.json
marketing/node_modules
marketing/package-lock.json
dist
.DS_Store